/Web Services/Java/Cliente/nbproject/private/
/Web Services/Java/Cliente/build/
/Web Services/Java/Practica Andres/practica/build/
/Web Services/Java/Practica Andres/practica/dist/
/Web Services/Java/Practica Andres/practica/nbproject/private/
/Web Services/Java/Practica Andres/practica2/build/
/Web Services/Java/Practica Andres/practica2/nbproject/private/
/Web Services/Java/Practica Lira/WebServicesBD/build/
/Web Services/Java/Practica Lira/WebServicesBD/nbproject/private/
/Web Services/Java/Practica Lira/WebServices/nbproject/private/
/Web Services/Java/Practica Lira/WebServices/build/
/Web Services/Java/Practica Lira/WebServices/dist/
/Web Services/Java/Practica Lira/ClienteWeb/nbproject/private/
/Web Services/Java/Practica Lira/ClienteWeb/build/
/Web Services/Java/Practica Lira/GUIFormExamples/nbproject/private/