<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="exWServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/lp2ex2java/exWService"
                binding="basicHttpBinding" bindingConfiguration="exWServicePortBinding"
                contract="ProyWebServ.exWService" name="exWServicePort" />
        </client>
    </system.serviceModel>
</configuration>