<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AeropuertoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Servidor/AeropuertoWS"
                binding="basicHttpBinding" bindingConfiguration="AeropuertoWSPortBinding"
                contract="AeropuertoWS.AeropuertoWS" name="AeropuertoWSPort" />
        </client>
    </system.serviceModel>
</configuration>